@import "./reset.css";
@import "../css/fonts/Gilroy/stylesheet.css";

/* font-family: 'Work Sans', sans-serif; */
/* font-family: 'Gilroy', sans-serif; */

body {
  font-family: 'Gilroy', sans-serif;
  font-weight: 500;
}

.container {
  max-width: 1750px;
  padding: 0 15px;
  margin: 0 auto;
}

/* button */
.btn {
  position: relative;
  display: inline-block;
  padding: 10px 24px;
  padding-right: 72px;
  border: 1px solid #114455;
  border-radius: 2px;

  font-size: 20px;
  font-weight: 800;
  color: #114455;

  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.btn::after {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  /* background-color: red; */
  background-image: url("../img/icons/arrow-right-black.svg");
  background-repeat: no-repeat;
  background-position: center;

  right: 24px;
  top: 50%;
  transform: translateY(-50%);
}

.btn:hover, .btn:focus {
  background-color: #114455;
  color: #FFFFFF;
}

.btn:active {
  top: 1px;
}

.btn:hover::after {
  background-image: url("../img/icons/arrow-right-white.svg");
}

.btn--big {
  padding: 14px 32px;
  padding-right: 80px;
}

.btn--dark {
  background-color: #114455;
  color: #FFFFFF;
}

.btn--dark:hover, .btn--dark:focus {
  background-color: black;
}

.btn--dark::after {
  background-image: url("../img/icons/arrow-right-white.svg");
}


/* header */
.header {
  min-height: 100vh;
  background-color: #E1EDF2;
  background-image: url("../img/header/header-bg.jpeg");
  background-size: cover;
  background-position: center center;
}

.header__top {
  margin-bottom: 126px;
  padding: 44px 0;
}


/* nav */

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 118px;
}

.link {
  font-size: 20px;
  font-weight: 800;
  color: #114455;
}

/* header content */

.header__content {
  max-width: 1060px;
}

.header__title {
  margin-bottom: 48px;
  max-width: 764px;
  font-size: 80px;
  font-weight: 800;
  color: #114455;
}

.header__text {
  margin-bottom: 72px;
  font-size: 34px;
  color: #1F1F1F;
}

.header__text p + p {
  margin-bottom: 1em;
}

.header__btn {
}

.btn {
}
